:root {
  --color-background: #9793A4;
  --color-button: #736E85;
  --color-text: #292240;
  --color-visited: #3F3A52;
  --heading-font-weight: 700;
  --standard-padding: 20px;
  --grid-gap: 20px;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-text);
  background-color: var(--color-background);
  height: 100%;
}

.body-grid {
  display: grid;
  justify-content: center;
  width: 100%;
  grid-template-columns: 1fr;
  grid-gap: var(--grid-gap);
  padding: var(--standard-padding);
  margin: 0;
}

.body-grid ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.pokemon-list {
  list-style-type: none;
}

.pokemon-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: var(--color-text);
}

a:visited {
  /* visited link */
  color: var(--color-visited);
}

a:hover,
a:focus {
  text-decoration: none;
}

.button {
  border: none;
  font-family: inherit;
  background-color: var(--color-button);
  color: var(--color-text);
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
  border-right: 2px solid rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

.button:hover,
.button:focus {
cursor: pointer;
opacity: 0.8;
}
